package ${table.packageName}.repository;

import ${table.packageName}.entity.${className};
import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.data.jpa.repository.JpaSpecificationExecutor;
import org.springframework.data.repository.history.RevisionRepository;
import org.springframework.data.domain.Page;
import org.springframework.data.domain.Pageable;
import org.springframework.data.jpa.repository.Query;
import org.springframework.data.repository.query.Param;
import java.util.List;

/**
 * ${table.comments}
 *
 * @author mufeng
 * @date ${table.date}
 */
public interface ${tableNameHigher}Repository extends JpaRepository<${tableNameHigher}, String>
        , JpaSpecificationExecutor<${tableNameHigher}>
        , RevisionRepository<DatabaseConfig, String, Integer>{

}